$M-FontSize: 12px;
$Black : #161616;
$section-title: clamp(20px, 5vw, 60px);
$section-title-secondary: clamp(20px, 4vw, 50px);
$primary-color: #E00734;
$regular-text-responsive: clamp(12px, 2vw, 16px);


// common css
html {
    // scroll-behavior: smooth;
}

.text_primary,
.text_primary a {
    color: $primary-color;
}

.section-text {
    font-size: 12px;
}

.section-title {
    font-size: $section-title;

    @media (max-width: 991px) {
        margin: 2rem 0;
    }
}

.section-title-secondary {
    font-size: $section-title-secondary;
    font-family: "Plus Jakarta Sans";
}

.dot {
    color: #615CF6;
}

.regular-text-responsive {
    font-size: $regular-text-responsive;
}


.custom_container {
    @media (min-width: 992px) {
        max-width: 870px !important;
    }

}


.intro {
    // background-color: #08112d;
    background-image: linear-gradient(rgb(2, 3, 62), rgba(17, 4, 79, 0.68)), url("../images/intro (1).jpg");
    background-size: cover;
    background-attachment: fixed;

    .navbar {
        .navbar-brand img {
            width: 5.5rem;
            height: auto;
        }

        .navbar-nav {

            .nav-link {
                color: #fff !important;
                transition: 0.5s;
                font-size: clamp(1rem, 4vw + 1rem, 1.3rem);
                border-bottom: 1px solid transparent;
                padding: .5rem 1rem;
                letter-spacing: 1px;

                &:hover {
                    color: $primary-color !important;
                    border-bottom: 1px solid $primary-color;
                }
            }
        }
    }

    .row {

        height: 100vh;
    }

    .title {

        font-size: clamp(1.8rem, 7vw, 4.5rem);
        /* The font size will scale between 1.8rem and 3.5rem */
        line-height: 1.2;
        position: relative;
        z-index: 2;
        color: #fff;

        .title-style-1 {
            font-size: clamp(1.8rem, 7vw, 4.9rem);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: $primary-color;
            -webkit-text-stroke-width: 2px;
        }

        .title-style-2::before {
            content: " ";
            display: block;
            width: 100%;
            height: 20%;
            background-color: #E00734;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }

    .sub-title {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        /* The font size will scale between 1rem and 1.5rem */
        line-height: 1.4;
        color: #afaeae;
    }

    .slide-container {
        height: 21rem;
        position: relative;
        padding: 0 1rem;

        .swiper {
            width: 100%;
            height: 100%;


            .swiper-slide {
                text-align: center;
                font-size: 18px;
                // background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;

            }
        }
    }

}


.working_progress {
    min-height: 100vh;
    background-color: #F8F4FF;

    .head {


        .title {
            color: $Black;
            font-weight: 900;
        }

        .sub-title {
            color: #BBA5E0;
        }
    }

    .stepper {
        @media (min-width: 991px) {
            margin-top: 10rem;
        }

        .col:nth-child(odd)>div {
            position: relative;
            border-radius: 16px;
            font-family: "Public Sans";
            font-size: clamp(10px, 2vw, 20px);
            font-weight: 600;
            text-align: center;
            background-color: #fff;
            width: 100%;
            z-index: 10;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: .5rem;

            @media (min-width: 992px) {
                .text-lg-nowrap {
                    white-space: nowrap;
                }
            }

        }

        .col:nth-child(even) {
            color: #26252E;
            text-transform: capitalize;


            span {
                font-size: 23px;
                font-weight: 600;
                color: #615CF6;
            }
        }

        .step-title {
            position: relative;

            &:nth-child(1)::after {
                content: " ";
                position: absolute;
                top: -90%;
                left: -46px;
                width: 100%;
                height: 100%;
                background-image: url("../images/working_progress/vector-1.png");
                background-repeat: no-repeat;
                z-index: 5;
            }

            &:nth-child(1)::before {
                content: " ";
                position: absolute;
                bottom: -92%;
                right: -110%;
                width: 206px;
                height: 200px;
                background-image: url("../images/working_progress/vector-2.png");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 5;
            }

            &:nth-child(3)::before {
                content: " ";
                position: absolute;
                bottom: -92%;
                right: -139%;
                width: 206px;
                height: 200px;
                background-image: url("../images/working_progress/vector-2.png");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 5;
                transform: rotate(180deg);
            }

            &:nth-child(5)::before {
                content: " ";
                position: absolute;
                bottom: -92%;
                right: -116%;
                width: 206px;
                height: 200px;
                background-image: url("../images/working_progress/vector-2.png");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 5;
            }

            &:nth-child(7)::before {
                content: " ";
                position: absolute;
                bottom: -92%;
                right: -116%;
                width: 206px;
                height: 200px;
                background-image: url("../images/working_progress/vector-3.png");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 5;
            }

            @media (max-width: 991px) {

                &::before,
                &::after {
                    display: none !important;
                }
            }
        }

    }
}

.our_toolset {

    .all-tools {

        .tool-card {
            width: 100vw;

            @media (min-width: 992px) {
                width: 70vw;
            }

            .card-head {

                .active {
                    color: #fff;
                }

                .frontend {
                    position: relative;
                    padding: .73rem;
                    border-radius: .37rem !important;
                    border-top-right-radius: 0.19rem !important;
                    border-bottom-right-radius: 0rem !important;
                    background-color: #615CF6;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-bottom: 47.5px solid #615CF6;
                        border-right: 2rem solid rgba(176, 16, 16, 0);
                        position: absolute;
                        right: -30.5px;
                        top: 0;
                    }
                }

                // .backend {}
            }

            .card-body {
                background-color: #F8F8F8;
                width: 100%;
                border-radius: 1rem;

                border-top-left-radius: 0;

                img {
                    width: 10%;
                    height: 10%;
                }
            }
        }
    }
}

.choose_us {
    height: auto;
    background-color: #F2EDEB;
    position: relative;
    padding-bottom: 5rem !important;

    .experience {
        .number {
            font-size: clamp(20px, 5vw, 45px);
            font-family: "DM Sans";
        }

        .text {
            font-size: clamp(13px, 2vw, 17px);
        }

        ul {
            margin: auto 1rem;
            padding-left: 0;

            li {
                list-style: none;
                text-align: start;
                margin-bottom: 1rem;
                font-size: $regular-text-responsive;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .solution {
        img {
            width: auto;
            height: 3rem;
        }

        .title {
            font-size: clamp(20px, 4vw, 50px);
            font-family: "Plus Jakarta Sans";
        }
    }

    .contact {
        font-family: "Raleway";
        position: absolute;
        bottom: -2rem;
        right: 0;
        padding: 1rem;
        background: #08112D;
        border-top-left-radius: 2rem;
        color: #fff;

        img {
            width: auto;
            height: 3rem;

            @media (max-width: 767px) {
                height: 2.5rem;

            }

            @media (max-width: 575px) {
                height: 2.2rem;

            }
        }

        .text {
            font-size: clamp(10px, 2vw, 18px);
            ;
        }

        .number {
            font-size: clamp(2px, 2vw, 20px);
        }
    }

    .Cimg img {
        max-width: 100%;
    }
}

.commercial-service {
    padding-top: 6rem;



    .all-packages {
        .package-card {
            transition: .5s;
            position: relative;
            border-radius: .5rem;
            overflow: hidden;

            svg {
                color: $primary-color;
                width: clamp(24px, 5vw + 20px, 48px);

                height: clamp(20px, 4vw + 16px, 43px);

            }

            &:hover {
                color: #fff;
                background-color: $primary-color;

                &::after {
                    content: "";
                    width: 123px;
                    height: 113px;
                    position: absolute;
                    bottom: 0%;
                    right: 0%;
                    background-image: url("../images/commercial-service/hover-image.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                svg {
                    color: #fff;

                }

                .arrow-svg {
                    transform: rotate(45deg);
                }
            }

            .card_title {
                font-size: clamp(16px, 3vw, 22px);
                font-family: "Plus Jakarta Sans";
            }

            .card_body {
                font-family: "DM Sans";
            }

        }
    }
}

.counter {
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 315px;
        background-image: url("../images/counter/bg-img.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .container {
        position: relative;
        padding-top: 2rem;
        z-index: 5;
    }

    .head {

        a,
        .title,
        button {
            color: #fff !important;
        }

        .title {
            font-size: clamp(20px, 4vw, 50px);
            font-family: "Plus Jakarta Sans";
            line-height: 1;
        }

        button {
            background-color: $primary-color;

        }
    }

    .counter_card {
        border-radius: 1rem;
        background-color: #fff;

        .card_body {
            border-radius: 1rem;
            border: 1px dashed #57575857;
            padding: 1.5rem 0 !important;
            transition: .3s;

            &:hover {
                border-color: $primary-color !important;
            }

            .head-img {
                width: clamp(24px, 5vw + 20px, 48px);
                /* Adjusts width */
                height: clamp(20px, 4vw + 16px, 43px);
                /* Adjusts height */
            }

            .card_title {
                font-size: clamp(15px, 3vw, 40px);
                font-family: "Plus Jakarta Sans";
            }

            .card_footer {
                font-size: clamp(12px, 2vw, 20px);
                font-family: "Plus Jakarta Sans";
                font-weight: 500;
            }
        }
    }

}

.project {
    .col-sm-6 {

        padding: 1rem;

        .project-img {
            text-align: center;
        }
    }
}

.teams {
    .all-teams-member {
        .team-mbr-card {
            display: flex;
            justify-content: center;

            .card_body {
                position: relative;
                width: fit-content;
                cursor: pointer;

                &:hover {

                    .t-c-img {
                        &:after {
                            border-color: $primary-color !important;
                        }
                    }

                    .contact-info {
                        display: block;
                        opacity: 1;

                    }
                }

                .contact-info {
                    position: absolute;
                    top: 50%;
                    left: -1rem;
                    background-color: $primary-color;
                    transform: translateY(-50%);
                    z-index: 10;
                    transition: 1.5s;
                    display: none;
                    opacity: 0;

                    .social-icon {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: -11px;
                            background-image: url("../images/teams/frame2.png");
                            background-size: contain;
                            background-repeat: no-repeat;

                            width: 1rem;
                            height: 12px;
                        }

                        .icon {
                            transition: .3s;
                            padding: 1rem;

                            &:hover {
                                background-color: #91011f;
                            }
                        }
                    }

                }

                .info-bg {
                    background-color: #D9D9D9;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }

                .t-c-img {
                    position: relative;
                    width: fit-content;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 1rem;
                        top: -1rem;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: .5rem;
                        border: 1px dashed #686a6a;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        width: 150px;
                        height: 40px;
                        background-image: url(../images/teams/Frame.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: .3s;
                    }

                    &:hover::before {
                        width: 0px;
                        height: 0px;
                    }
                }

            }
        }
    }

    button {
        background-color: #E00734;
        color: #fff;
        border: none;
        box-shadow: 2px -2px 2px red;

        &:active {
            box-shadow: 2px 2px 2px red;
        }
    }
}

.news-letter {
    .news-body {
        background-image: url('../images/news-letter/newsletter.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .head {
            @media (max-width: 768px) {

                padding-bottom: 5rem;
            }

            padding-bottom: 10rem;
        }

        .sub-title a {
            color: #fff !important;
            text-decoration: none;
        }

        .title {
            color: #fff;
        }

        .contact-part {
            font-family: "Plus Jakarta Sans";

            .tel-svg {
                background: $primary-color;
                padding: .6rem;
                border-radius: 50%;
            }

            .text {
                font-size: 14px;
                color: $primary-color !important;
            }

            .number {
                font-size: clamp(16px, 1vw, 22px);
                color: #fff;
            }
        }
    }

    .partners {
        background-color: #F2EDEB;
        position: absolute;
        bottom: -3rem;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;

        .Pheader {
            .h-line {
                flex-grow: 1;
                height: 1px;
                background-color: #C9C5C5;

            }

            .partner-text {
                font-family: "DM Sans";
            }

        }

        img {
            width: 10%;
            height: auto;
            max-height: 3rem;
        }
    }
}

.footer div {
    background-color: #f7f4f4;
    border-top: 1px solid #f4f2f2;
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
}